@page "/login"
@using MobileBlazor.Utils
@using WebApp.DTOs.Authentication
@inject ApiClient apiClient
@inject NavigationManager NavigationManager

@if(UserInfo == null)
{
    <h1>Please Sign In</h1>
} else
{
    <MudAlert Severity="Severity.Success">Welcome, @UserInfo.UserName</MudAlert>
}
<MudButton Variant="Variant.Filled" Color="@Color.Secondary" OnClick="@LoginManually" >Login</MudButton>
<MudFab StartIcon="@Icons.Custom.Brands.Facebook" Style="@($"color:#4267B2;")" OnClick="@LoginWithFacebook" Label="Continue with Facebook" />

Welcome to your new app.

@code {
    public UserInfoDTO UserInfo { get; set; }

    public async void LoginWithFacebook()
    {
        UserInfo = await apiClient.FacebookLogin();
        NavigationManager.NavigateTo("map");
    }

    public async void LoginManually()
    {
        UserInfo = await apiClient.Login("hampuswadum@hotmail.com", "Test123!");
        NavigationManager.NavigateTo("map");
    }
}

