@using GoogleMapsComponents
@using GoogleMapsComponents.Maps
@using System.Diagnostics

<PageTitle>Map</PageTitle>

<h1>Google Map Markers</h1>

<MudToggleIconButton Toggled="@ShouldDisplayRoadMap" ToggledChanged="OnMapTypeChanged"
                     Icon="@Icons.Filled.SatelliteAlt" Title="Off"
                     ToggledIcon="@Icons.Outlined.SatelliteAlt" ToggledTitle="On"/>

<GoogleMap @ref="@map1" Id="map1" Options="@mapOptions" OnAfterInit="@(async () => await OnAfterInitAsync())"></GoogleMap>


@code {
    private GoogleMap map1 = default!;

    private MapOptions mapOptions = default!;

    public bool ShouldDisplayRoadMap { get; set; }

    private string labelText = "";

    public void OnMapTypeChanged(bool toggled)
    {
        ShouldDisplayRoadMap = !ShouldDisplayRoadMap;
        map1.InteropObject.SetMapTypeId(GetCurrentMapType());

    }

    private async void OnDragEnd()
    {
        var bounds = await map1.InteropObject.GetBounds();
        Console.WriteLine(bounds.North);
    }

    private async void Fetch()
    {
        //TODO fetch dog parks or whatever
    }

    private MapTypeId GetCurrentMapType()
    {
        return ShouldDisplayRoadMap ? MapTypeId.Roadmap : MapTypeId.Satellite;
    }


    protected async override void OnInitialized()
    {
        mapOptions = new MapOptions()
        {
            Zoom = 13,
            Center = new LatLngLiteral()
            {
                Lat = 55.6570832,
                Lng = 12.5937645
            },
            MapTypeId = GetCurrentMapType(),
            DisableDefaultUI = true,
            GestureHandling = "greedy",
            //ZoomControl = false,

        };
    }

    private async Task OnAfterInitAsync()
    {
        //TODO zoom_changed event or just bounds_changed event instead of drag and zoom
        await map1.InteropObject.AddListener("dragend", OnDragEnd);
    
    }
}