@using ModelLib.DTOs.Authentication;
@using RazorLib.Interfaces;
@attribute [Route(RoutingConstants.NEW_USER_WELCOME)]
@inject NavigationManager NavigationManager
@inject IStorageManager<UserDetailedDTO> UserManager

<MudContainer Class="pb-5 ">

    <MudStack Class="mb-5" Spacing="5">


        <MudText Class="mt-5" Align="Align.Center" Typo="Typo.h4">Velkommen til Active Together, @(_user?.FirstName ?? "")!</MudText>

            <MudDivider />
            <MudAlert Severity="Severity.Normal">Nedenfor er vigtige oplysninger til hundeejere og virksomheder, som hjælper med at få den bedst mulige oplevelse af DoggoWorld.</MudAlert>

            <div>
                <MudText Typo="Typo.h6">Hvorfor DoggoWorld?</MudText>
                <MudCard>
                    <MudCardContent>
                        <MudStack>

                            <MudText>
                                DoggoWorld er en platform, der faciliterer et socialt netværk og en markedsplads, hvor hundeejere og virksomheder mødes.
                            </MudText>

                            <MudText>
                                Formålet med DoggoWorld er at tjene alle jer hundeejeres behov én gang for alle.
                                Derfor vil DoggoWorld komme til at bestå af flere komponenter, som brugeren kan navigere i.
                            </MudText>

                            <MudAlert Severity="Severity.Success">
                                <MudText>
                                    Fokus lige nu er at gøre det nemt for hundeejere at finde og tilmelde sig hundetræning.
                                </MudText>
                            </MudAlert>

                            <div>
                                <MudText>
                                    DoggoWorld vil blive udvidet med flere komponenter i fremtiden såsom:
                                </MudText>
                                <MudList Clickable="false">
                                    <MudListItem Text="Socialt samvær med andre hundeejere samt arrangering af offentlige hundeevents." Icon="@Icons.Material.Filled.People" />
                                    <MudListItem Text="Få hjælp hvis din hund er kommet til skade eller har fået det dårligt, enten af andre hundeejere eller registrerede dyrlæger." Icon="@Icons.Material.Filled.MedicalServices" />
                                    <MudListItem Text="Find en hundepasser/hundepension enten privat eller gennem et firma." Icon="@Icons.Material.Filled.Handshake" />
                                    <MudListItem Text="Find hundeparker og tjek ind når du ankommer, og se hvilke andre hunde som er tjekket ind." Icon="@Icons.Material.Filled.Explore" />
                                </MudList>
                            </div>

                        </MudStack>
                    </MudCardContent>
                </MudCard>
            </div>

            <MudStack Style="width:100%;" AlignItems="AlignItems.Center">
                <MudButton Style="width:fit-content;"
                       Color="Color.Primary"
                       Variant="Variant.Filled"
                       EndIcon="@Icons.Material.Filled.ArrowForward"
                       OnClick="NavigationManager.NavigateToHome">Forsæt som standard bruger</MudButton>
            </MudStack>

            <MudDivider Class="mt-5" />

            <div>
                <MudText Class="mb-3" Align="Align.Center" Typo="Typo.h5">For Virksomheder</MudText>

                <MudText Typo="Typo.h6">Er du en hundetræner?</MudText>
                <MudCard>

                    <MudCardContent>

                        <MudText>
                            Opret dig som hundetræner på DoggoWorld og oplev en masse fordele såsom:
                        </MudText>

                        <MudList Clickable="false">
                            <MudListItem Text="Andre brugere kan finde din firmaprofil her på DoggoWorld og se dets oplysninger samt give dig anmeldelser." Icon="@Icons.Material.Filled.Check" />
                            <MudListItem Text="Som registreret hundetræner kan du oprette hold som f.eks Hvalpetræning, Nosework, Agility osv." Icon="@Icons.Material.Filled.Check" />
                            <MudListItem Text="Brugere i dit lokale område kan nemt finde dine hold og tilmelde sig." Icon="@Icons.Material.Filled.Check" />
                            <MudListItem Text="Det er muligt at tilknytte din hjemmeside og links til hvert enkelte hold på din hjemmeside op til din hundetrænerprofil på DoggoWorld." Icon="@Icons.Material.Filled.Check" />
                            <MudListItem Text="Brugere i dit lokale område kan nemt finde dine hold og tilmelde sig." Icon="@Icons.Material.Filled.Check" />
                            <MudListItem Text="Forstå hvilke holdtyper som hundeejere i dit område er interesseret i, så du undgår tomme holdpladser" Icon="@Icons.Material.Filled.Check" />
                        </MudList>

                        <MudStack Class="width:100%;" AlignItems="AlignItems.Center">
                        </MudStack>

                        <MudText Typo="Typo.subtitle2">
                            Ops: Har du allerede en fancy hjemmeside og automatisk holdtilmelding?
                            Bare rolig, DoggoWorld er designet til at være en udvidelse at din nuværende opsætning.
                        </MudText>

                    </MudCardContent>
                </MudCard>
            </div>

            <MudStack Style="width:100%;" AlignItems="AlignItems.Center">
                <MudButton Variant="Variant.Filled"
                       Style="width:fit-content;"
                       Color="Color.Primary"
                       EndIcon="@Icons.Material.Filled.ArrowForward"
                       OnClick="NavigationManager.NavigateToCreateInstructor">
                    Fortsæt som hundetræner
                </MudButton>
            </MudStack>

        </MudStack>

    </MudContainer>

    @code {
    private UserDetailedDTO? _user;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _user = await UserManager.Get();
    }
}
